:root {
  /* Color Scheme */
  --color-white: #f4eae6;
  --color-teal: #4297a0;
  --color-teal-hover: #2f6d74;
  --color-pink: #e57f84;
  --color-dark-blue: #2f5061;
  --color-dark-blue-hover: #213844;
  --color-offwhite: #f3e1c8;
  --color-burgundy: #9b6a6c;
  --color-grey-blue: #6d7993;
  --color-grey-blue-hover: #4b5466;
  /* Border Radius */
  --border-radius-box: 15px;
  --border-radius-round: 24px;
  /* box-shadow */
  --box-shadow: 4px 4px 0px black;
  /* box-border */
  --box-border: 2px solid black;
}

/* Fonts */

body {
  font-family: "Nunito", sans-serif, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* bg color for all pages */
body {
  background-color: var(--color-offwhite);
}

p {
  margin: 0;
}

.bio {
  font-weight: 700;
  font-size: 18px;
}

.profile-page-user {
  font-size: 64px;
}

.blue {
  color: var(--color-dark-blue);
}

/* formatting */

.block {
	margin-block: 2.5rem;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-btns-col{
	width: 10rem;
}
.profile-container{
	width: 10rem;
}

/* card-style post in feed  */

/* TODO: font responsiveness. do breakpoints for 768px (tablets) and 350px (mobiles) */

.card {
  overflow: hidden;
  width: 100%;
}

.card-header {
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--color-white);
}

.card-header > .row {
  align-items: center;
}

.username,
.comment-username {
  font-family: "Nunito";
  font-weight: 700;
  margin-block: auto;
}

.comment-username {
  font-size: 0.9rem;
}

.comment-content {
  font-size: 0.85rem;
  font-family: "Nunito";
}

.feed-post__date,
.feed-post__location {
  text-align: end;
  font-family: "Nunito";
  font-weight: 700;
}

.feed-post-options{
	fill: var(--color-grey-blue);
}
.feed-post__date>.dropdown{
	display: inline;
}


.feed-post {
  width: 50rem;
  background-color: var(--color-white);
  border-radius: var(--border-radius-box);
  transition: box-shadow 0.3s;
  border: var(--box-border);
}

.feed-post:hover {
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.post-img {
  width: 100%;
  box-sizing: border-box;
  outline: 2px solid black;
  max-height: 50rem;
  object-fit: cover;
  object-position: center;
}

.post-interactions > .row {
  align-items: center;
}

.post-interactions {
  padding: 1rem;
}

.likes {
  margin-left: auto;
}
.likes-count {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 0.85rem;
  margin-left: 1rem;
  display: inline-block;
}

.map-pin {
  fill: var(--color-pink);
  margin-bottom: 8px;
}
.chat-icon {
  fill: var(--color-pink);
  transform: scale(1.5);
}

.heart-like {
  fill: var(--color-pink);
}

.heart-empty{
	fill: var(--color-pink)
}

/* full post */

.fullpost-container {
  display: grid;
  grid-template-columns: 15% 55% 20%;
  grid-gap: 5%;
}

.feed-btns-col {
  text-align: center;
  padding-top: 80px;
}
.fullpost-main-col {
  display: grid;
  gap: 30px;
  margin-top: 80px;
}

.full-post-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-post-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.comment-input {
  font-family: "Nunito";
  font-weight: 700;
  width: 100%;
  height: 100px;
  color: var(--color-dark-blue);
  text-align: center;
  display: block;
  background-color: var(--color-white);
  border-radius: var(--border-radius-box);
  padding: 0.8rem;
  border: none;
  text-decoration: none;
}
.comment-input::placeholder {
  opacity: 1;
  color: var(--color-grey-blue);
}
.comment-input:focus {
  outline: none;
}

.comment-btn {
  outline: none;
  float: right;
  /* border: 2px solid black; */
  margin-top: 10px;
  border: var(--box-border);
  color: var(--color-white);
  border-radius: var(--border-radius-box);
  width: 9rem;
  height: 2.5rem;
  font-family: "Nunito";
  font-weight: 700;
  background-color: var(--color-dark-blue);
  transition: background-color 0.35s box-shadow 0.35s;
}

.comment-item {
}
/* .comment-item strong {
  display: block;
} */

.comment-username {
  margin-bottom: 10px;
}
.comment-item span {
  border: none;
  color: black;
  border-radius: var(--border-radius-box);
  font-family: "Nunito";
  background-color: var(--color-white);
  transition: background-color 0.35s box-shadow 0.35s;
  padding: 10px;
  margin-left: 70px;
  margin-bottom: 10px;
}
.comment-item p {
  padding-top: 8px;
  padding-bottom: 10px;
}
.comment-item small {
  margin-left: 70px;
}

.image-col img {
  margin-top: 80px;
}

/* Modal */
.modal-header {
  justify-content: center;
  text-align: center;
}

.modal-title {
}
.modal-text {
  border: none;
  height: 100px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.input-place-and-file-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-file-input {
  /* margin-left: 300px; */
  height: 20px;
  width: 20px;
}

.location-search-input {
  border: none;
  margin-left: 5px;
}

.input-icon {
  height: 20px;
  width: 20px;
}

.post-btn {
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid black; */
  margin-top: 10px;
  border: var(--box-border);
  color: var(--color-white);
  border-radius: var(--border-radius-box);
  width: 6rem;
  height: 2rem;
  font-family: "Nunito";
  font-weight: 700;
  background-color: var(--color-dark-blue);
  transition: background-color 0.35s box-shadow 0.35s;
}

/* Buttons */

.btn-base {
  outline: none;
  /* border: 2px solid black; */
  border: var(--box-border);
  color: var(--color-white);
  border-radius: var(--border-radius-round);
  width: 9rem;
  height: 3.2rem;
  font-family: "Nunito";
  font-weight: 700;
  background-color: var(--color-dark-blue);
  transition: background-color 0.35s box-shadow 0.35s;
}

.feed-btn {
  display: block;
  margin-bottom: 2rem;
  border-radius: var(--border-radius-box);
  height: 2.5rem;
}

.btn-like{
	outline: none;
	border: none;
	background-color: var(--color-white);
}

.btn-base:hover {
  box-shadow: var(--box-shadow);
  background-color: var(--color-dark-blue-hover);
}

.auth-page-btns {
  width: 100%;
  justify-content: space-between;
}

#dropdown-basic {
  background-color: var(--color-dark-blue);
}
#dropdown-basic:focus {
  outline: none;
  border-color: black;
}
#dropdown-basic:hover {
  outline: none;
  border-color: black;
}
#dropdown-basic:active {
  outline: none;
  border-color: black;
}

.btn-create-post {
  background-color: var(--color-grey-blue);
  width: 50rem;
  position: relative;
  margin-bottom: 2rem;
}
.btn-create-post:hover {
  background-color: var(--color-grey-blue-hover);
}

.btn-create-post-filter{
	border-radius: var(--border-radius-box);
	height: 2.5rem;
}

.btn-search {
  border-radius: var(--border-radius-box);
  background-color: var(--color-teal);
  height: 48px;
  width: 784px;
  margin-right: 1rem;
}
.btn-search:hover {
  background-color: var(--color-teal-hover);
}

.btn-profile {
  position: relative;
  width: 183px;
}

.feed-btn {
  margin-top: 5rem;
}

/* logo */
.logo-container {
  cursor: pointer;
  display: flex;
  width: 100%;
}

/* form input */
.form-input {
  font-family: "Nunito";
  font-weight: 700;
  width: 20rem;
  color: var(--color-white);
  text-align: center;
  display: block;
  background-color: var(--color-pink);
  border-radius: var(--border-radius-box);
  padding: 0.8rem;
  border: none;
  text-decoration: none;
}
.form-input::placeholder {
  opacity: 1;
  color: var(--color-white);
}
.form-input:focus {
  outline: none;
}

textarea {
  resize: none;
}

label {
  width: 50%;
  font-family: "Nunito";
  font-weight: 700;
}

/* Auth Page */

/* TODO: resize header for tablet and mobile */

.authentication {
  gap: 8rem;
  height: 100vh;
}

.auth-header {
  display: flex;
  gap: 2rem;
}

.auth-page-header {
  margin-bottom: 1rem;
  font-size: 5rem;
  color: var(--color-dark-blue);
}

.auth-form {
  gap: 1rem;
}

.tagline {
  text-align: center;
  font-family: "Nunito";
  font-weight: 700;
  color: var(--color-dark-blue);
  font-size: 1.3rem;
}

.logo-earth {
  width: 15rem;
}

/* pfp */

.pfp {
  background-color: var(--color-offwhite); /*temporary*/
  object-position: center;
  object-fit: cover;
  margin-block: 2rem;
}

.pfp-container {
  height: 20vw;
  width: 20vw;
}

.pfp-badge {
  /* background-color: black; */
  border-radius: 100%;
  width: 43px;
  height: 43px;
  position: absolute;
  bottom: 2.5px;
  overflow: none;
  border: var(--box-border);
  object-fit: cover;
  object-position: center;
}

.pfp-badge-card {
  position: relative;
  margin-right: 1rem;
}

.badge-left {
  left: 3px;
}
.badge-right {
  right: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
}

/* set profile page */
.set-profile-page {
  height: 100vh;
  justify-content: flex-start;
}

/* profile page */

.pfp-profile-page {
  height: 10rem;
  width: 10rem;
}
.profile-page-bio {
  text-align: right;
}

.profile-page-user {
  text-align: right;
	width: 100%;
	margin: 0;
}

.stumble-logo {
  cursor: pointer;
}

/* feed */
.feed {
  gap: 2rem;
	width: 50rem;
}

.feed-image-deco {
  display: block;
	width: 100%;
}
.app-body {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  /* width: 100%; */
}

/* home */

.home-feed-header {
  color: var(--color-dark-blue);
  text-align: center;
}

/* for tablet and mobile */ 
/* TODO: Create HTML elements for tablets and mobile */

@media screen and (max-width: 768px) {
	.profile-container, .feed-btns-col{
		display: none;
	}
	.app-body, .home-content, .btn-create-post, .feed, .card{
		width: 100%;
	}
	.home-content{
		padding-inline: 2rem;
	}
	.feed{
		padding-inline: 2rem ;
	}
}
