:root{
  /* Color Scheme */
  --color-white:#F4EAE6;
  --color-teal: #4297A0;
  --color-pink: #E57F84;
  --color-dark-blue: #2F5061;
  --color-dark-blue-hover: #213844;
  --color-offwhite: #F3E1C8;
  --color-burgundy: #9B6A6C;
  --color-grey-blue: #6D7993;
  /* Border Radius */
  --border-radius-box: 15px;
  --border-radius-round: 24px;
  /* box-shadow */
  --box-shadow: 4px 4px 0px black;
  /* box-outline */
  --box-outline: 2px solid black;
}

/* Fonts */

@font-face {
    font-family: 'nunito-italic';
    src: url('src/assets/fonts/Nunito-Italic.woff') format('woff');
         /* url('src/assets/fonts/nunito-italic-variablefont_wght-webfont.woff') format('woff2'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-bold';
    src: url('src/assets/fonts/Nunito-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-italic';
    src: url('src/assets/fonts/Nunito-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-medium';
    src: url('src/assets/fonts/Nunito-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-medium-italic';
    src: url('src/assets/fonts/Nunito-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-regular';
    src: url('src/assets/fonts/Nunito-Regular.woff') format('woff');
         /* url('src/assets/fonts/nunito-variablefont_wght-webfont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;

}

body{
  font-family: 'nunito-regular',Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4{
  font-family: "nunito-bold",Arial, Helvetica, sans-serif;
}

/* bg color for all pages */
body{
  background-color: var(--color-offwhite);
}

p{
  margin: 0;
}

/* card-style post in feed  */

/* TODO: font responsiveness. do breakpoints for 768px (tablets) and 350px (mobiles) */

.card{
  overflow: hidden;
}

.card-header{
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--color-white);
}

.card-header>.row{
  align-items: center;
}

.username, .comment-username{
  font-family: "nunito-bold";
  margin-block: auto;
}

.comment-username{
  font-size: 0.9rem;
}

.comment-content{
  font-size: 0.85rem;
  font-family: 'nunito-medium';
}

.feed-post__date, .feed-post__location{
  text-align: end;
  font-family: 'nunito-bold';
}

.feed-post{
  width: 50rem;
  background-color: var(--color-white);
  border-radius: var(--border-radius-box);
  outline: 1px solid black;
  transition: box-shadow 0.35s;
}

.feed-post:hover{
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.post-img{
  width: 100%;
  box-sizing: border-box;
  outline: 2px solid black;
}

.post-interactions>.row{
  align-items: center;
}

.post-interactions{
  padding: 1rem;
}

.likes{
  margin-left: auto;
}
.likes-count{
  font-family: 'nunito-bold';
  font-size: 0.85rem;
  margin-left: 1rem;
  display: inline-block;
}

.map-pin{
  fill: var(--color-pink);
  margin-bottom: 8px;
}
.chat-icon{
  fill: var(--color-pink);
  transform: scale(1.5);
}

.heart-like{
  fill:var(--color-pink);
}

/* Buttons */

.btn-base{
  outline: none;
  border: 1px solid black;
  color: var(--color-white);
  border-radius: var(--border-radius-round);
  width: 9rem;
  height: 3.2rem;
  font-family: 'nunito-bold';
}
.btn-base:hover{
  box-shadow: var(--box-shadow);
}

.auth-page-btn{
  background-color: var(--color-dark-blue);
  transition: background-color 0.35s box-shadow 0.35s;
}
.auth-page-btn:hover{
  background-color: var(--color-dark-blue-hover);
}

/* form input */
.auth-page-input{
  font-family: 'nunito-bold';
  width: 20rem;
  color: var(--color-white);
  text-align: center;
  display: block;
  background-color: var(--color-pink);
  border-radius: var(--border-radius-box);
  padding: 0.8rem;
  border: none;
}
.auth-page-input::placeholder{
  opacity: 1;
  color: var(--color-white);
}
.auth-page-input:focus{
  outline: none;
}

/* Auth Page */
.auth-page-header{
  font-size: 5rem;
  color: var(--color-dark-blue);
}
.tagline{
  font-family: 'nunito-bold';
  color: var(--color-dark-blue);
  font-size: 1.3rem;
}

.logo-earth{
  width:15rem;
}